{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://instagram.com/4thabang">Twitter</a></li>
        <li><a href="https://github.com/4thabang">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}
